/* Reset default margin and padding */
html, body {
    margin: 0;
    padding: 0;
    background-color: #696969;
}

/* Global font styles */
body {
    background-color: #696969;
    font-family: Arial, sans-serif; /* Use a commonly available font */
}

/* Style for navigation bar */
nav {
    background-color: #333; /* Purple background color */
    display: block;
    text-align: center;
    padding: 10px;
    font-family: "Century Gothic", Times, serif;
    width: 100%;
}

/* Style for brand logo */
.brand-logo {
    font-size: 28px;
    font-weight: bold;
    color: #FFF; /* White color for brand logo */
    display: block;
    text-align: center;
}

/* Style for navigation links */
nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center; 
    align-items: center;
}

nav ul li {
    margin-right: 20px; /* Spacing between navigation links */
}

nav ul li a {
    color: #FFF; /* White color for navigation links */
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s; /* Smooth transition for color change */
    justify-content: center;
    text-align: center;
}

nav ul li a:hover {
    color: #9F73AB; /* Light purple color on hover */
}


/* routineview.css */

.card-container {
    display: flex; /* Use flexbox */
    flex-wrap: wrap; /* Allow wrapping to the next line */
    justify-content: flex-start; /* Align items starting from the left */
    padding: 40px;
  }
  
  .card {
    background-color: #f4f4f4; /* Background color of the card */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
    margin: 0 20px 20px 0; /* Spacing between and around cards */
    padding: 20px; /* Padding inside the card */
    flex: 0 0 calc(33.33% - 20px); /* Each card takes up one-third of the container width with spacing */
    box-sizing: border-box; /* Include padding and border in the width */
  }
  
  .card h2 {
    margin-bottom: 10px; /* Spacing below the heading */
    text-align: center; /* Center align the heading */
    font-size: 16px; /* Set smaller font size */
  }
  
  .card ul {
    list-style-type: none; /* Remove bullets from the list */
    padding: 0; /* Remove default padding */
  }
  
  .card ul li {
    margin-bottom: 5px; /* Spacing between list items */
  }
  
  
  