<!-- this file holds the formatting and styles for the homepage(index.html) -->
<!-- use index.html to include data -->

<!doctype html>
<html>
  <head>
  
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
   <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>

  </head>
  <body>
      <nav class="bar">
          <div class="nav-wrapper">
            <a class="brand-logo">{% block page %}{% endblock %}</a>
              <ul id="nav-mobile" class="left">
                <li><a href="/temp">Home</a></li>
                <li><a href="/workout">workouts</a></li>
                <li><a href="/routine">workout routine</a></li>
                <li><a href="/view">routine view</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
              </form>  
          </div>
      </nav>
      <style>
          .navbar-form label {
              color: white !important;
          }
      </style>

    <div class="container" id="content">{% block content %}{% endblock %}</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      //  M.AutoInit();

      //   {% with messages = get_flashed_messages() %}
      //     {% if messages %}
      //         {% for message in messages %}
      //         M.toast({html: '{{message}}'})
      //         {% endfor %}
      //     {% endif %}
      //   {% endwith %}
       
    </script>
  </body>
</html>