<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>

    <header>
        <h1> Workout App 
          <img src="https://www.vectorkhazana.com/assets/images/products/Dumbbell_Svg.png"> 
         </img>
        </h1>
        </header>
        
<div class="card">
    <h1>Log In</h1>

    <form method="POST" action="/login">
        <div class="input-field">
            <input placeholder="Username" value="bob" name="username" type="text" class="validate" required>
            <label for="username">Username</label>
        </div>

        <div class="input-field">
            <input placeholder="Password" value="bobpass" name="password" type="password" class="validate" required>
            <label for="password">Password</label>
        </div>
        
        <button class="btn waves-effect waves-light"><a href="/temp">login</a></button>

        <div class="input-field">
            <p>Don't have an account? <a href="/">Sign up</a></p>
        </div>
    </form>
</div>

</body>
</html>
