<!-- when changing keeping checking for internal server error...
if you get that error or any page not running errors undo your changes bc
the templates are sensitive to jinga 
which is weird asf bc it supposed to work with the flask route but idk nah 
i took hours to even get it to work so if you break it YOU better fix it (inserts crying emoji) -->

<!DOCTYPE html>
<html>
  <head>
    <title>Workout Routines</title>
  </head>
  <body>
    <h1>Available Workout Routines</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Routine 1</td>
          <td>This is Routine 1</td>
        </tr>
        <tr>
          <td>Routine 2</td>
          <td>This is Routine 2</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>