<!-- when changing keeping checking for internal server error...
if you get that error or any page not running errors undo your changes bc
the templates are sensitive to jinga 
which is weird asf bc it supposed to work with the flask route but idk nah 
i took hours to even get it to work so if you break it YOU better fix it (inserts crying emoji) 
if you feeling good comment off this template and try to work with a jinga template 
if that doesnt wokr stick to this -->

<!DOCTYPE html>
<html>
  <head>
    <title>Workouts</title>
  </head>
  <body>
    <h1>Workouts</h1>
    <p>  </p>
  </body>
</html>








